# OS
.DS_Store

# General
*.user
*.suo
*.swp
*.tmp
*.log

# .NET build outputs
**/bin/
**/obj/
**/out/
**/Debug/
**/Release/

# Rider / ReSharper
.idea/
*.sln.iml
_ReSharper*/

# Visual Studio Code
.vscode/

# Node / Angular (for Frontend)
node_modules/
dist/
dist-ssr/
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Coverage / test
coverage/
TestResults/

# Frontend (Angular) build outputs + tooling caches
/Frontend/dist/
/Frontend/out-tsc
/.angular/cache
.angular/cache
/Frontend/.angular/
.sass-cache/
/Frontend/tmp
/Frontend/bazel-out
__screenshots__/
/Frontend/node_modules/

# Misc files (frontend/dev)
connect.lock
testem.log
/typings
/libpeerconnection.log

# OS junk
Thumbs.db

